version: '3.9'

services:
  db-denet:
    image: postgres:15
    container_name: db-denet
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U avigo_user || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - ./.env
    container_name: app
    ports:
      - "8080:8080"
    depends_on:
      db-denet:
        condition: service_healthy
    restart: always

volumes:
  db_data:
